<!DOCTYPE html>
<html>
  <head>
    <title>CodingWithoutReact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => "layouts/navigation" %>
    <br>
    <% flash.each do |key, value| %>
      <% alert_type = (key=="notice" ? "success" : "error")  %>
      <%= content_tag :div, value, class: "alert alert-#{alert_type} flash #{key}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
